body {
    font-family: var(--Regular);
}

/*Containers*/
.box,
.course {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 20px;
}

.box-locked {
    background-color: var(--white);
    color: var(--blue);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--blue);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1em;
    justify-content: center;
    grid-template-areas:
        "box-1 box-2"
        "box-3 box-3";
}

.courses-container,
.lessons-container {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: var(--blue);
}

/*Texts*/
.course-text {
    font-size: 36px;
}

.more-text {
    font-size: 44px;
}

.done-text {
    font-size: 18px;
}

.lesson-available,
.webdev-courses {
    font-size: 18px;
}

.continue-course-container {
    border-radius: 20px;
}

.course-title,
.continue-text {
    font-size: 18px;
}

.lesson-title {
    font-size: 24px;
}

.text-blue {
    color: var(--blue) !important;
}

/*Progress Bar*/
.progress-bar {
    background-color: transparent;
    height: 10px;
    border-radius: 20px;
}

.progress {
    background-color: var(--white);
}

/*Images*/
.img-fluid {
    object-fit: cover;
}

.img-placeholder {
    width: 80px;
    height: 80px;
    background-color: var(--white);
    border-radius: 30px;
    align-self: center;
}

.course-arrow {
    width: 25px;
}

.course-lock {
    width: 40px;
    height: 40px;
}

/*Buttons*/
.continue-btn {
    background-color: var(--white);
    border-radius: 20px;
}

/*Media Queries*/
@media screen and (max-width: 1437px) {

    .course-title,
    .progress-text {
        font-size: 16px;
    }

    .lesson-title {
        font-size: 22px;
    }

    .arrow {
        width: 90px;
    }

    .logo {
        width: 70px;
    }

    .course-text {
        font-size: 28px;
    }
}

@media screen and (max-width: 1400px) {
    .lesson-text {
        font-size: 14px;
    }

    .lesson-image {
        width: 20px;
    }

    .course-lock {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 1338px) {

    .course-title,
    .progress-text {
        font-size: 15px;
    }

    .lesson-title {
        font-size: 20px;
    }

    .arrow {
        width: 80px;
    }

    .logo {
        width: 55px;
    }

    .course-lock {
        width: 25px;
        height: 25px;
    }

    .course-text {
        font-size: 24px;
    }

    .more-text {
        font-size: 28px;
    }

    .done-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 1769px) {

    .more-text {
        font-size: 36px;
    }

    .done-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 1539px) {
    .more-text {
        font-size: 30px;
    }

    .course-arrow {
        width: 20px;
    }
}

@media screen and (max-width: 1258px) {
    .arrow {
        width: 60px !important;
    }

    .logo {
        width: 50px;
    }
}

@media screen and (max-width: 1191px) {
    .more-text {
        font-size: 22px;
    }
}


@media screen and (max-width: 1120px) {
    .progress-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 1072px) {
    .course-text {
        font-size: 22px;
    }

    .more-text {
        font-size: 20px;
    }

    .done-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 991px) {

    .course-title,
    .continue-text,
    .progress-text {
        font-size: 18px;
    }

    .lesson-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 887px) {

    .course-title,
    .progress-text {
        font-size: 15px;
    }

    .lesson-title {
        font-size: 20px;
    }

    .arrow {
        width: 80px;
    }

    .logo {
        width: 55px;
    }
}

@media screen and (max-width: 456px) {
    .grid-container {
        gap: 0.6em;
    }

    .course-title,
    .progress-text {
        font-size: 12px;
    }

    .lesson-title {
        font-size: 16px;
    }

    .continue-btn {
        font-size: 12px;
    }

    .more-text,
    .course-text {
        font-size: 18px;
    }

    .done-text {
        font-size: 10px;
    }

    .progress-bar {
        background-color: transparent;
        height: 6px;
        border-radius: 20px;
    }

    .progress {
        background-color: var(--white);
    }

    .lesson-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .lesson-text {
        font-size: 11px;
    }

    .lesson-image {
        width: 16px;
    }
}

@media screen and (max-width: 369px) {

    .progress-text,
    .lesson-title {
        display: none;
    }

    .continue-btn {
        font-size: 10px;
        padding: 1px;
    }

    .lesson-text {
        font-size: 10px;
    }
}