        body {
            background-color: var(--lightBlue);
            font-family: var(--Regular);
        }

        .login-container {
            height: 628px;
            width: 595px;
            background-color: var(--white);
        }

        /*Border Color*/
        .border-blue {
            border-style: solid;
            border-width: 0.5px;
            border-color: var(--blue);
        }

        /*Font Color*/
        .text-blue {
            color: var(--blue);
        }

        .btn-login {
            background-color: var(--blue);
            color: var(--white);
            font-size: 22px;
        }

        .login-form {
            max-width: 75% !important;
        }

        /*Responsiveness*/
        @media screen and (max-height: 900px) {
            .login-container {
                height: 590px;
            }
        }

        @media screen and (max-width: 767px) {
            .login-container {
                height: 544px;
                width: 506px;
            }
        }

        @media screen and (max-width: 575px) {
            .login-container {
                height: 474px;
                width: 430px;
            }

            .btn-login {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 496px) {
            .login-container {
                height: 435px;
                width: 400px;
            }

            .logo {
                width: 235px;
            }
        }

        @media screen and (max-width: 430px) {
            .login-container {
                width: 360px;
            }

            .login-form {
                max-width: 100% !important;
            }
        }

        @media screen and (max-width: 380px) {
            .login-container {
                width: 300px;
            }

            .logo {
                width: 220px;
            }
        }

        .input-style{
            padding-left: 20px !important;
        }