.shopIcon {
    width: 25px;
    vertical-align: middle;
}

.shopName {
    font-size: 2.5em;
    vertical-align: middle;
    font-family: var(--Bold);
    color: var(--black);
}


.customCard {
    border: 1px solid var(--black);
    border-radius: 10em;
    display: inline-block;
}

.cardItem {
    border: 1px solid var(--black);
    cursor: pointer;
}

.shopCardImage {
    width: 130px !important;
    height: 130px !important;
    object-fit: cover;
    border-radius: 1rem !important;
    border: 1px solid var(--black);
    background-color: var(--primaryColor);
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.plainButton {
    background: none;
    border: none;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--Regular);
    color: var(--black);
    border-radius: 2em;
    position: relative;
    transition: color 0.3s ease;
}

.plainButton.active {
    background-color: var(--highlight);
    font-weight: bold;
    color: var(--white);
}

.plainButton.active::after {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.375rem 0.75rem;
    background-color: #e0e0e0;
    border-radius: 0.375rem;
    font-weight: bold;
    color: var(--black);
    z-index: -1;
}

.custom-dropdown-button {
    background-color: var(--primaryColor);
    border: 1px solid var(--black);
    color: var(--black);
    font-family: var(--Regular);
}

.custom-dropdown-button:hover,
.custom-dropdown-button:focus {
    background-color: var(--primaryColor);
    border: 1px solid var(--black);
    color: var(--black);
    box-shadow: none;
}

.dropdown-item.selected {
    background-color: var(--highlight) !important;
    color: var(--white) !important;
}

.title {
    font-family: var(--Bold);
    color: var(--black);
    font-size: 1.25em;
}

.fixed-dropdown {
    width: 200px;
    max-width: 100%;
}

.dropdown-item {
    font-family: var(--Regular);
    color: var(--black);
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

/* === Custom Modal Styles === */
.custom-modal {
    border: none;
    background-color: var(--white1);
    max-width: 420px;
    width: 100%;
    min-height: 250px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.custom-close {
    position: absolute;
    top: .5rem;
    right: 1rem;
    z-index: 10;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--black);
    line-height: 1;
    cursor: pointer;
}

.cardModal{
    background-color: var(--primaryColor);
    border: 1px solid var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-divider {
    border: 3px;
    border-top: 1px solid var(--black);
    width: 100%;
}

.modalTitle {
    font-family: var(--Bold);
    color: var(--black);
    font-size: 1.45em;
}

.description {
    font-family: var(--Regular);
    color: var(--black);
    font-size: .90em;
}

.modalButton {
    font-family: var(--Bold);
    background-color: var(--primaryColor);
    border: 1px solid var(--black);
    color: var(--black) !important;
}

.modalButton:hover,
.modalButton:focus,
.modalButton:active {
    background-color: var(--highlight) !important;
    color: var(--white) !important;
    opacity: 1 !important;
    box-shadow: none !important;
    transform: none !important;
    border: 1px solid var(--black);
}

@media (max-width: 576px) {
    .modal-img {
        width: 75%;
        height: 150px;
    }

    .custom-close {
        top: 1rem;
    }

    .description {
        font-family: var(--Regular);
        font-size: 1.20em;
    }

    .modal-content {
        padding: 1.5rem;
    }

    .modal-details {
        width: 100%;
    }
}

.no-items-yet{
    font-family: var(--Regular);
}